.navbar {
  background-color: black;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
  color: red;
}

.nav_cont {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  padding: 2px 75px 2px 75px;
  background: url('../public/logo.png') no-repeat;
}
