.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Open Sans', verdana, sans-serif;
  h1,
  h2,
  h3 {
    margin: 10px;
    color: #fff;
    font-size: 16px;
  }
  p {
    margin: 10px;
    color: #a3a3a3;
    font-size: 13px;
  }
}
.img {
  border-radius: 5px;
}
