.link {
  text-decoration: none;
  color: rgb(20, 14, 2);
  line-height: 60px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  margin: 0 10px;
}
.link:hover {
  opacity: 0.8;
  background-color: rgb(9, 110, 72);
}
