.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 60px;
  padding: 5px 8px;
  border-radius: 10px;
  margin: 10px;
}
.link:hover {
  opacity: 0.8;
  background-color: red;
  color: #fff;
}
